body {
    min-height: 100vh;
}

/* Estilos para os componentes */
input,
button {
    margin-bottom: 8px;
}

button {
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #4299e1;
}

.hidden {
    display: none;
}

#room-title {
    text-align: center;
}

.radar {
    width: 10px;
    /* Tamanho da bola, ajustado para caber melhor */
    height: 10px;
    /* Tamanho da bola */
    background-color: green;
    /* Cor da bola */
    border-radius: 50%;
    /* Para deixar a bola redonda */
    box-shadow: 0 0 0 rgba(0, 255, 0, 0.5);
    /* Sombra inicial */
    animation: pulse 1.5s infinite;
    /* Animação */
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 rgba(0, 255, 0, 0.5);
        /* Sombra inicial */
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
        /* Sombra maior */
    }

    100% {
        box-shadow: 0 0 0 rgba(0, 255, 0, 0.5);
        /* Volta à sombra inicial */
    }
}

.user-list-item {
    color: #75808f;
    /* Cor cinza padrão */
}

/* Novo estilo para o footer */
footer {
    /* Faz o footer ficar na parte inferior */
    text-align: center;
}